<!--this is a common layout for every page so we can code it in a different file-->
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>

    <body>
    
        <!-- this is partial call. partial is a code which is common to every page of website so we make it a different file and call it-->
        <%- include('_header') %>

        <main id="layout-main">
            <%- body %>

        </main>

        <%- include('_footer') %>

        <%- script %>
        
    </body>
</html>